html
  head
    title PlovSaver

    link(rel='icon', href='images/plov-icon.png')
    link(rel='stylesheet', href='css/index.css')
  body
    nav.navbar
      a(href="#")
        img#icon(src='images/plov-icon.png', alt='Plov icon')
        h1 PlovSaver
      button Add a dream
