html
  head
    title PlovSaver

    link(rel='icon', href='images/plov-icon.png')
    link(rel='stylesheet', href='css/index.css')
    
    link(rel='stylesheet', href='css/slick/slick.css')
    link(rel='stylesheet', href='css/slick/slick-theme.css')

    // carousel logic
    script(src="//code.jquery.com/jquery-1.11.0.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src="js/slick/slick.min.js")

    // music on click
    script(src='js/playMusic.js')
  body

    p.warning This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service

    nav.navbar
      a(href="#" id="playMusicBtn")
        img#icon(src='images/plov-icon.png', alt='Plov icon')
        h1 PlovSaver
      button Manage dreams
    
    div.main
      h2#title Find out how many portions of pilaf your dreams are worth
      div.dreams
        // smth
      div.output
        // output

script(src='js/carousel.js')