@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

body{
    background-color: white;
    font-family: "Amatic SC", sans-serif;
    font-style: normal;

    overflow-x: hidden;
}