html
  head
    title Add a dream
    link(rel='stylesheet', href='/css/create.css') 
    link(rel='icon', href='images/plov-icon.png')

  body
    h1 Create Goal

    form#createForm(action="/users/create/api/cards" method="POST" enctype="multipart/form-data")
        label(for="createName") Name:
        input#createName(type="text" name="name" required)
        label(for="createPrice") Price:
        input#createPrice(type="number" name="price" required)
        label(for="createImage") Image:
        input#createImage(type="file" name="img" accept="image/*" required)
        button(type="submit") Create Goal
        
    script(src="/js/create.js") 